<home>
  <h1>Home</h1>
  <!-- TODO: create link/link-to component for simplfying links -->
  <a href="{ `/#!/user/${this.userId}/random` }">Click Me!</a>
  <script>
    export default {
      onBeforeMount() {
        this.userId = Math.round(Math.random() * 99999)
      }
    }
  </script>
</home>
